# {{ ansible_managed }}

#
# Default  Bareos File Daemon Configuration file
#
#  For Bareos release 14.2.2 (12 December 2014) -- ubuntu Ubuntu 14.04 LTS
#
# There is not much to change here except perhaps the
# File daemon Name to
#

#
# List Directors who are permitted to contact this File daemon
#
Director {
  Name = {{ bareos_server_director_name }}
  Password = "{{ bareos_server_director_password }}"
}

#
# Restricted Director, used by tray-monitor to get the
#   status of the file daemon
#
Director {
  Name = localhost-mon
  Password = "UeIASD6nKye93XmKeUbaoxcbId+sq95cWWY8cHA7QCv5"
  Monitor = yes
}

#
# "Global" File daemon configuration specifications
#
FileDaemon {                          # this is me
  Name = localhost-fd
  Maximum Concurrent Jobs = 20

  # remove comment from "Plugin Directory" to load plugins from specified directory.
  # if "Plugin Names" is defined, only the specified plugins will be loaded,
  # otherwise all storage plugins (*-fd.so) from the "Plugin Directory".
  #
  # Plugin Directory = /usr/lib/bareos/plugins
  # Plugin Names = ""

  # if compatible is set to yes, we are compatible with bacula
  # if you want to use new bareos features, please set
  # compatible = no
}

# Send all messages except skipped files back to Director
Messages {
  Name = Standard
  director = localhost-dir = all, !skipped, !restored
}
