# {{ ansible_managed }}

#
# Bareos User Agent (or Console) Configuration File
#

Director {
  Name = {{ bareos_server_director_name }}
  DIRport = 9101
  address = localhost
  Password = "{{ bareos_server_director_password }}"
}
